.form-container {
  width: 350px;
  height: auto;
  border: 2px solid rgb(199, 199, 245);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0.5em;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}
.tasks {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 5px 10px;
}
