@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.form-container {
  width: 350px;
  height: auto;
  border: 2px solid rgb(199, 199, 245);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0.5em;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}
.tasks {
  width: auto;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}
.done {
  color: green;
}

.rowone {
  border-color: 2px solid black;
}

.flex-container {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}
.tasknumber {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.userdetails {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.donebutton {
  display: flex;
  flex: 0 0 auto;
  margin-top: 10px;
  align-items: stretch;
  flex-direction: row;
}
input[type="checkbox"] {
  margin-top: -2px;
  width: 1.5rem;
  height: 1.5rem;

  &:checked {
    background-color: hsl(0, 0%, 40%);
    border-color: hsl(0, 0%, 40%);

    & + label {
      text-decoration: line-through;
      color: hsl(0, 0%, 70%);
      font-weight: 600;
      background-color: hsl(0, 0%, 97%);
    }
  }

  &:focus,
  &:hover {
      box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
      border-color: hsl(0, 0%, 40%);
  }
}
